doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title Boilerplate npm Webpack Backbone Express
    link(href="assets/bootstrap.min.css",rel="stylesheet")
    link(href="assets/app.css",rel="stylesheet")

body
    #app

    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/lodash.min.js")
    script(src="js/vendor/handlebars.min.js")
    script(src="js/vendor/backbone-min.js")
    script(src="js/vendor/bootstrap.min.js")
    script(src="js/app.js")